* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* height: 100%; */
}

body {
    background-color:#e2e2e2; 
}

/*HEADER*/

header {
    background: white;
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 100%);
    margin: .5rem 0 .2rem;
}

 .header nav {
    display: flex;
    justify-content: center;
} 


.header-nav a {
    color: black;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

/*HEADER Media nav*/
@media screen and (max-width: 800px) {
    .header-nav {
        flex-direction: column;
    }
    .header-nav a {
        padding: .3rem;
    }
}

/*HEADER logo*/

.header-logo {
    margin-right: auto; 
} 

.header-nav .header-logo img {
    height: 75px;
    width: auto;
    transition: all 0.3s;
}

.header-nav .header-logo img:hover {
    transform: scale(1.2);
}

/*HEADER menu*/

.header-menu {
    margin: 1.2rem 0 0;
}

.header-nav .header-menu:hover {
    transform: scale(1.1);
    color: rgb(236, 143, 22);
}

.header-button button {
    margin-left: 1rem;
    margin-top: .5rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    padding: .8rem 2rem .8rem;
    background: #eceff1;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header-nav .header-button button:hover {
    background-color: #f2d2a2;
    color: rgb(236, 143, 22);
    transform: scale(1.1);
}

/*MAIN*/
.main img {
    height: auto;
    max-height: 500px;
    width: 100%;
    margin: .15rem 0 0;
}

.main-texto { 
    margin: 1.5rem;
} 

.main-texto p {
    font-size: 2rem;
    color: black;
    position: relative;
    text-align: center;
    text-justify: center;
    padding: 1rem 1rem 1rem;
}

.contenedor-home {
    display: flex;
    justify-content: space-between;
    /* width: 60vw; */
    height: auto;
    margin: 5rem auto;
    background-image: url("../img/ciudad\ byn.jpg");
    /* background-repeat: no-repeat; */
    background-size:contain
}

.bloque-home {
    width: 90%;
    min-height: 260px;
    background-color:rgba(0, 0, 0, 70%);
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 70%);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    text-justify: center;
    font-size: 2rem;
    color: white;
}
.bloque-home p {
    text-align: center;
    text-justify: center;
    font-size: 1.5rem;
    color: white;
    margin: 1rem;
}

.bloque-home-button button{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    padding: .8rem 2rem .8rem;
    background: #eceff1;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bloque-home-button button:hover {
    background-color: #f2d2a2;
    color: rgb(236, 143, 22);
    transform: scale(1.1);
}

/*Main Media bloques*/
@media (max-width: 800px) {

    .contenedor-home {
        display: flex;
        padding: 0;
        flex-direction: column;
    }
    
    .bloque-home {
        min-height: 130px;
        justify-content: center;
    }

}

/*FOOTER*/
footer {
    background-color: white;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    padding: 40px 0px;
    align-items: center;
}

.footer-texto p{
    text-align: center;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(88, 87, 86);
}

.footer-logo {
    text-align: center;
}
.footer-logo img {
    height: 100px;
    width: auto;
}

.list-redes-sociales{
    display: flex;
    list-style: none;
}
  
.item-redes-sociales img {
    padding: 10px;
    height: 50px;
}

/*Footer Media*/
@media screen and (max-width: 800px) {
    .footer-grid{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
} 
    
/*CONTACTOS.HTML*/
.formulario {
    background-color: rgb(161, 159, 179);
    padding: 1rem;
    text-align: center;
}


/*HISTORIA.HTML*/
.hym-principal {
    background-color: rgb(161, 159, 179);
    padding: 30px 0px;
}

.hym-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

.hym-detalle {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding: 30px 0px;
    border-radius: 10px;
}

.hym-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    margin: 1rem;
}
  
.hym-texto h2 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}
  
.hym-texto p {
    font-size: 1rem;
    margin: .25rem;
    line-height: 1.1rem;
}

.hym-texto p b {
    font-size: 1rem;
    color: rgb(236, 143, 22);
}

.hym-iframe {
    width: 35%;
    height: 200px;
    margin: auto;
    border-radius: 1rem;
}


/*Tablet*/
@media screen and (max-width: 768px) {
    .hym-principal {
    padding: 30px 20px;
    }
    .hym-container {
        max-width: 650px;
    }
}

/*  Celulares */
@media screen and (max-width: 420px) {
    .hym-container {
        max-width: 320px;
    }
    .hym-detalle {
        flex-direction: column;
        align-items: center;
    } 
    .hym-texto {
        width: 100%;
        padding: 0px 20px;
    }
    
    .hym-iframe {
        width: 90%;
    }
}