* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: "MonteCarlo";
    src: url('../fonts/MonteCarlo/MonteCarlo-Regular.ttf');
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* height: 100%; */
}

body {
    background-color:#e2e2e2; 
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    background: white;
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 100%);
    margin: .5rem 0 .2rem;
    padding: 1rem;
    height: 127px;
}

 .respmenu {
    display: flex;
    justify-content: center;
}

.respmenu nav ul li{
    display: flex;
    justify-content: center;
}

.header-nav a {
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 0.2rem;
}
.nav-list li a {
    text-decoration: none;
    color: black;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
}

.fa-bars, .fa-times {
    display: none;
}

/*HEADER logo*/

.header-logo {
    margin-right: auto;
}

.header-logo img {
    height: 75px;
    width: auto;
    transition: all 0.3s;
    margin-left: 1.2rem;
}

.header-logo img:hover {
    transform: scale(1.2);
}

/*HEADER menu*/

.header-menu {
    margin: 1.2rem 0 0;
}

.header-nav .header-menu:hover {
    transform: scale(1.1);
    color: rgb(236, 143, 22);
}

.header-button button {
    margin-left: 1rem;
    margin-top: .5rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    padding: .8rem 2rem .8rem;
    background: #eceff1;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header-nav .header-button button:hover {
    background-color: #f2d2a2;
    color: rgb(236, 143, 22);
    transform: scale(1.1);
}

/*HEADER Media nav*/
@media screen and (max-width: 800px) {
    .fa-bars, .fa-times {
        display: block;
    }

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        /* margin: .5rem; */
        /* padding: .5rem; */
        right: 0;
        top: 2rem;
        width: 80px;
        height: 40px;
        /* background-color: black;  */
    }

    .respmenu .fa-bars, .respmenu .fa-times {
        right:40px;
        /* margin: 0; */
        padding:.2rem;
        width: 32px;
        height: 32px;
    }

    .respmenu .fa-times {
        padding: 0.2rem;
        width: 32px;
        height: 32px;
        right: 0;
        background-color: black;
        z-index: 9999;
    } 

    .respmenu {
        flex-direction: column;
    }

    .nav {
        position: absolute; /*Ver si relative o absolute como en el ej*/
        top: 4rem;
        background-color: black;
        padding: 1.5rem;
        right: 0;
        /*bottom: 0; *//*si fondo menu hasta abajo de todo*/
        /* border-radius: 1rem; */
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 9990;
    }
        
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: white
    }

    .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 32px;
        pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
        opacity: 0;
    }

    .respmenu nav {
        display: none;
    }

    .respmenu input:checked ~ nav {
        display: block;
    }

    .respmenu input:checked ~ .fa-bars {
        display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }
}

/*MAIN*/
.main img {
    height: auto;
    max-height: 500px;
    width: 100%;
    margin: .15rem 0 0;
}

.main-texto { 
    margin: 1.5rem;
} 

.main-texto p {
    font-size: 2rem;
    color: black;
    position: relative;
    text-align: center;
    text-justify: center;
    padding: 1rem 1rem 2rem;
    font-family: "Montserrat";
}

.contenedor-home {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: 1fr;
    justify-content: center;
    background-image: url("../img/ciudad\ byn.jpg");
    width:100%;
    height:auto;
}

.bloque-home {
    display: grid;
    grid-template-columns: (1, 100%);
    grid-template-rows: (3, 30%);
    justify-content: center;
    text-align: center;
    min-height: 260px;
    background-color:rgba(0, 0, 0, 70%);
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 70%);
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    padding: .5rem;
    margin: 3rem 1rem;
        
}
.bloque-home p {
    font-size: 1.5rem;
    color: white;
    padding: .2rem;
    margin: 1rem;
}

.bloque-home-button button{
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    padding: .8rem 2rem .8rem;
    background: #eceff1;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: .5rem;
}

.bloque-home-button button:hover {
    background-color: #f2d2a2;
    color: rgb(236, 143, 22);
    transform: scale(1.1);
}

/*Main Media bloques*/
@media (max-width: 800px) {

    .contenedor-home {
        grid-template-columns: 1fr;
        padding: 3rem 0;
    }
    
    .bloque-home {
        grid-template-columns: 1fr;
        margin: 1rem;
    }

}

/*FOOTER*/
footer {
    background-color: white;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    padding: 30px 0px;
    align-items: center;
}

.footer-texto p{
    text-align: center;
    padding: .3rem .3rem .1rem;
    margin-left: 2rem;
    /* font-weight: 600; */
    font-size: 1.7rem;
    font-weight: 500;
    /* color: rgb(88, 87, 86); */
    font-family: "MonteCarlo";
    word-spacing: 0.1rem;
    letter-spacing: .05rem;
    line-height: 1.9rem;
}

.footer-logo {
    text-align: center;
}
.footer-logo img {
    height: 100px;
    width: auto;
}

.list-redes-sociales{
    display: flex;
    list-style: none;
}
  
.item-redes-sociales img {
    padding: 10px;
    height: 50px;
}

/*Footer Media*/
@media screen and (max-width: 800px) {
    .footer-grid{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .footer-logo img {
        margin: 1rem;
    }
} 
    
/*CONTACTOS.HTML*/
.formulario {
    background-color: rgb(161, 159, 179);
    padding: 1rem;
    text-align: center;
}


/*HISTORIA.HTML*/
.hym-principal {
    background-color: rgb(161, 159, 179);
    padding: 30px 0px;
}

.hym-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

.hym-detalle {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding: 20px 10px;
    border-radius: 10px;
}

.hym-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    margin: 1rem;
    font-family: "Montserrat";
}
  
.hym-texto h2 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}
  
.hym-texto p {
    font-size: .9rem;
    margin: .25rem;
    line-height: 1.3rem;
}

.hym-texto-span {
    color: rgb(236, 143, 22);
    font-weight: 700;
}

.hym-iframe {
    width: 35%;
    height: 200px;
    margin: auto;
    border-radius: 1rem;
}


/*Tablet*/
@media screen and (max-width: 768px) {
    .hym-principal {
    padding: 30px 20px;
    }
    .hym-container {
        max-width: 650px;
    }
}

/*  Celulares */
@media screen and (max-width: 420px) {
    .hym-container {
        max-width: 320px;
    }
    .hym-detalle {
        flex-direction: column;
        align-items: center;
    } 
    .hym-texto {
        width: 100%;
        padding: 0px 20px;
    }
    
    .hym-iframe {
        width: 90%;
    }
}

/*PASEOS.HTML*/
/* GRID PASEOS (Marisol)*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:auto;
    align-items: stretch;
    font-size: 0.5 rem;
    color:rgb(14, 13, 13);
}

.grid div {
    background: hsl(0, 27%, 96%);
    padding: 0.4Rem;
}

.grid div:hover {
    border: 1px solid hsl(0, 0%, 5%);
}

/*GRID PASEOS MAS INFORMACIÓN (Marisol)*/
.grid-p {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat (4, 1fr);
    justify-items: center;
    align-items: stretch;
    font-size: 0.5 rem;
    color:rgb(0, 0, 0);
}

.grid-p div {
    background: hsl(0, 27%, 96%);
    padding: 0em;
}

.grid-p div:hover {
    border: 1px solid hsl(0, 1%, 14%);
}

/* Bloques paseos (Marisol)*/
.bloque-paseos {
    width: 90%;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 70%);
    box-shadow: .5rem 0 .5rem rgba(54, 54, 54, 0.7);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    text-justify: center;
    font-size: 0.5rem;
    color: hsl(0, 0%, 3%);
}

.bloque-paseos p {
    text-align: center;
    text-justify: center;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.4 rem;
    color: rgb(0, 0, 0);
    margin: 1rem;
}

/*Boton reserva (Marisol)*/

.bloque-paseo-button button {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.0rem;
    color: black;
    padding: .5rem 1rem .5rem;
    background: hsla(32, 100%, 59%, 0.75);
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bloque-paseo-button button:hover {
    background-color: hsl(32, 60%, 50%);
    color: hsl(0, 0%, 0%);
    transform: scale(1.1);
}

    

/*Boton mas información (Marisol)*/
.button {
    display: inline-block;
    background-color: hsla(32, 100%, 77%, 0.774);
    border: none; 
    border-radius: 4rem;
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*Slider-fotos paseos (Marisol)*/
.slider-frame{
    width: 640px;
    height: 350px;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    animation: cambio 20s infinite alternate ease-in-out;
    width:400%;
}
.slider-frame li{ 
    list-style: none;
    width: 100%;
}
.slider-frame img{
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0%  {margin-left: 0%}
    20% {margin-left:0%}

    25%  {margin-left:-100%}
    45% {margin-left:-100%}

    50%  {margin-left: -200%}
    70% {margin-left:-200%}

    75%  {margin-left: -300%}
    95% {margin-left:-300%}
}

/*INDEX.HTML - APIs ----------------------------------------------------------------------------*/
/* APIs clima y cambio */

.apis-contenedor {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 5rem .5rem 2.5rem;
    font-family: "Montserrat";
}

.apis-title1 {
    font-size: 1.7rem;
    font-weight: 600;
    padding: .5rem;
}

.api-clima-dias {
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: space-between;
}

.api-clima-actual {
    display: grid;
    grid-template: 20% 45% 35% / 40% 60%;
    min-height: 260px;
    background-color:rgb(245, 245, 245);
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 60%);
    border-radius: .7rem;
    padding: .5rem;
    margin: 1rem;
    text-align: center;
    text-justify: center;
    font-size: 1rem;
    color: black; 
}

.api-clima-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .3rem;
}

.api-clima-title2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: .3rem;
    margin-bottom: 5%;
}

.api-clima-description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-items: auto;
}

.api-clima-description img {
    height: 80px;
    width: auto;
}

.api-clima-temp {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.api-clima-temp-act {
    font-size: 3.5rem;
    color: rgb(118, 12, 139);
}

.api-clima-temp-act-det {
    font-size: 2rem;
}

.api-clima-temp-pron {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.api-clima-temp-pron2 {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.min {
    color:rgb(0, 102, 255);
}

.api-clima-temp-pron-min {
    font-size: 1.5rem;
}

.api-clima-min-texto {
    font-size: .9rem;
    color:rgb(0, 102, 255);
}

.max {
    color:rgb(221, 77, 10);
}

.api-clima-temp-pron-max {
    font-size: 1.5rem;
}

.api-clima-max-texto {
    font-size: .9rem;
    color:rgb(221, 77, 10);
}

.api-clima-info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: left;
    padding-left: 4%;
    justify-content: center;
    padding-top: 1rem ;
}

.api-clima-info2 {
    text-align: left;
    padding-left: 4%;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    align-items: center;
}

.api-clima-pronostico {
    background-color:rgb(245, 245, 245);
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 60%);
    border-radius: .7rem;
    padding: .5rem;
    margin: 1rem;
    text-align: center;
    text-justify: center;
    font-size: 1rem;
    color: black;
    display: grid;
    grid-template-columns: 100%;
}

.api-clima-ppal {
    min-height: 260px;
    background-color:rgb(255, 255, 255);
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 60%);
    border-radius: .7rem;
    margin: .5rem;
    text-align: center;
    text-justify: center;
    font-size: 1rem;
    color: black;
}  

.api-cambio-ppal {
    min-height: 230px;
    background-color:rgb(255, 255, 255);
    box-shadow: .5rem 0 .5rem rgba(28, 30, 126, 60%);
    border-radius: .7rem;
    margin: .5rem;
    text-align: center;
    text-justify: center;
    font-size: 1rem;
    color: black;
} 

.apis-title2 {
    font-size: 1.6rem;
    font-weight: 600;
    padding: .5rem;
    margin: 0;
}

.api-cambio-tx1 {
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
    margin: 0;
}

.api-cambio-valores {
    align-items: center;
    margin: 1.5% 0 2%;
}

.api-cambio-valores p{
    padding-bottom: 2%;
}


/*Media APIs*/
@media (max-width: 800px) {
    .apis-contenedor {
        padding: 0;
        grid-template-columns: 1fr;
    }
    
    .api-clima-dias {
        padding: 0;
        grid-template-columns: 1fr;
    }
}



